body {
	background-color: #010101;
	font-family: 'Oswald';
}
b, strong {
	font-family: 'Oswald';
}
a {
	text-decoration: none;
	color: inherit;
}

#fullpage {
	position: relative;
	
}


#header {
	position: relative;
	height: 100%;
	text-align: center;
	position: relative;
	width: 100%;
}

	#overlay {
		filter: brightness(50%);
		mix-blend-mode: overlay;
		z-index: 4;

	}


@media screen and (max-width:1200px) {

	#overlay{
		display:none;
	}


  #headercontent {
    width: auto;
    float: none;
  }

  
  	.posters{

	height: 100%;
	width: 100%;
	margin-top:-15%;
	position: fixed;
	
	background:url('../img/PosterBrick.png');
	background-size: 200%;
	background-position: 50% 0%;
	background-repeat: no-repeat;
	
	}

	.posters img {		
		width: 40%;
	}
	
	.posters a {
		margin-left: 30%;
		transition: opacity 0.2s;
		transition: filter 0.2s;
		filter: brightness(50%);

	}
	
	#release, #consoles, form.updates{
	display: block;
	max-width: 1000px;
	color: #dbdbdb;
	text-align: center;
	margin: 10% auto -5% auto;
	margin-top:15%; 	
	top:-300px; 
	position:relative;
	}
	
	.profiles {
	height: 50%;
	width: 100%;
	margin-top:-25%;
	position: absolute;
	background-color:#010101;
	}	
	.profiles img {		
		margin-left:10%;
		width: 30%;		
		opacity:85%;
		transition: opacity 0.2s;
	}
}
@media screen and (min-width:1200px) {
	
	#overlay
	{
	top: 0px;
	pointer-events: none;
	height: 740px;
	text-align: center;
	position: fixed;
	width: 100%;
	}
	
	#headercontent {
		position: fixed;
		top: -32%;
		width:100%;
		z-index: 1;
	}
	
	.posters{
	height: 100%;
	width: 100%;
	margin-top:20%;
	position: fixed;
	
	background:url('../img/PosterBrick.png');
	background-size: 100%;
	background-position: 75%;
	background-repeat: no-repeat;
	
	}

	.posters img {		
		width: 20%;

	}

	.posters a {
		margin-left: 40%;
		transition: opacity 0.2s;
		transition: filter 0.2s;
		filter: brightness(50%);

	}
	
	#release {
	display: block;
	max-width: 1000px;
	color: #dbdbdb;
	text-align: center;
	margin: 10% auto -5% auto;
	margin-top:15%; 
	
	}
	
	.profiles {
	height: 100%;
	width: 100%;
	margin-top:5%;
	position: fixed;
	background-color:#010101;
	}
	
	.profiles img {		
		float:left;	
		margin-left:0%;
		width: 18%;		
		opacity:85%;
		transition: opacity 0.2s;

	}

}

	#release h2 {
		font-size: 41px;
		line-height: 46px;
	}
	#release h3 {
		font-size: 27px;
		letter-spacing: 1px;
		font-family: 'Oswald';
	}
	
	
	#release h4 {
		color: rgb(212, 176, 118);
		margin-top: 8px;
	}
	
		#release .callouts {
			display: inline-block;
			padding-left: 4px;
		}

#release.updated, #consoles.updated, form.updates {
	width: 700px;
	height: 20%;

}

#release.updated hr, #consoles.updated hr {
	display: block;
	height: 1px;
	border: none;
	background-image: url(../img/hr.png);
	margin: 18px 10px 21px 10px;
}


	
@media screen and (max-width:1200px) {
	
	#discord img{
		width:50%;
		margin-top: -80px;
		margin-left:25%;
	}
	
	
	#Profile1 img{
		margin-left:14%;
	}	
	#Profile1 h1, #Profile1 h2{
		margin-left:13%;
		width:300px;
	}
	
	#Profile2 img{
		margin-left:14%;
	}	
	#Profile2 h1, #Profile2 h2{
		margin-left:57%;
		width:300px;
	}
	
	#Profile3 img{
		margin-left:14%;
	}	
	#Profile3 h1, #Profile3 h2{
		margin-top:31%;
		margin-left:13%;
		width:300px;
	}
	
	#Profile4 img{
		margin-left:14%;
	}	
	#Profile4 h1, #Profile4 h2{
		margin-top:31%;
		margin-left:57%;
		width:300px;
	}

}

@media screen and (min-width:1200px) {
	#discord img{
		width:30%;
		margin-top:-80px;
		margin-left:35%;
	}
	

	#Profile1 img{
		margin-left:14%;
	}	
	#Profile1 h1, #Profile1 h2{
		margin-left:13%;
	}	

	#Profile2 img{}	
	#Profile2 h1, #Profile2 h2{
		margin-left:31%;
	}
	
	#Profile3 img{}	
	#Profile3 h1, #Profile3 h2{
		margin-left:49%;
	}
	
	#Profile4 img{	}	
	#Profile4 h1, #Profile4 h2{
		margin-left:67%;
	}
}

	
	.posters a:hover {
			filter: brightness(100%);
	`}		

	.posters a:nth-child(3n+3) {
		margin-right: 0px;
	}
	.posters:after {
		content: "";
		display: block;
		clear: both;
	}

	
	.profiles img:hover{
		opacity:100%;
	}	
 
	.profiles h1 {
		color: #fc5c76;
		font-size:  xx-large;
		float:left;	
		top: -50px;
		width: 20%;
		position:absolute;	
	}
	
	.profiles h2 {
		color: #dbdbdb;
		font-size:  x-large;
		float:left;	
		top: 0px;
		width: 20%;
		position:absolute;
		z-index:10;		
	}


.profileText{	
	color: white;
	text-align:center;
	float:left;	
}


	
nav {
  z-index: 2000;
  position:fixed;
  display: inline-block;
  text-align: left;
  font-style: normal;
  font-size: 16px;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #000;
  color: #515352;  
  font-family: 'Oswald';
}
nav .menu-wrapper {
  display: block;
  margin-left: 190px;
  width: 460px;
}

 nav .menu-logo-wrapper {
    display: block;
    width: 100%;
	z-index:1
  }
  
@media screen and (min-width: 1300px) {
  nav {
    text-align: center;
    font-size: 19px;
  }
  nav .menu-wrapper {
    display: inline-block;
    margin-left: 0;
    width: 100%;
	z-index:0
  }
  
    nav .menu-logo-wrapper {
    display: inline-block;
    width: 100%;
	z-index:1
  }
}

@media screen and (max-width: 1300px) {
    nav {
    text-align: center;
    font-size: 24px;
  }
  nav .menu-wrapper {
    display: inline-block;
    margin-left: 0;
    width: 100%;
	z-index:0
  }
  
    nav .menu-logo-wrapper {
    display: inline-block;
    width: 100%;
	z-index:1
  }

  
}
nav .menu-wrapper .menu-button-first {
  margin-left: 2.5%;
  padding: 24px 14px 0px 0 !important;
}


nav .menu-logo-button {  
	position: relative;
	text-align: left;
	float: left;
    display: block;
	padding-left: 10px;
	width:450px;
} 

nav .menu-wrapper .menu-button-link {
  letter-spacing: 0.2px;
  text-decoration: none;
  color: #b0b0b0;
}
nav .menu-wrapper .menu-button-link:link,
nav .menu-wrapper .menu-button-link:visited {
  color: #515352 !important;
}
nav .menu-wrapper .menu-button-link:active,
nav .menu-wrapper .menu-button-link:hover {
  cursor: pointer;
  background-color: #000;
  color: #fff !important;
}
nav .menu-button {
  position: relative;
  display: block;
  text-align: left;
  float: left;
  text-transform: uppercase;
  padding: 24px 14px 10px;
  letter-spacing: 0.2px;
  text-decoration: none;
  color: #b0b0b0;
}
nav .menu-logo-button {
  position: relative;
  display: block;
  text-align: left;
  float: left;
  text-transform: uppercase;
  color: #b0b0b0;

}


nav .menu-wrapper .menu-button-social,
nav .menu-wrapper .print-button-wrapper {
  display: inline-block;
  vertical-align: text-top;
  text-align: right;
  float: right;
  letter-spacing: 0.2px;
  position: relative;
  text-transform: uppercase;
  text-decoration: none;
  
}
nav .menu-wrapper .menu-button-social {
  font-size: 22px !important;
  padding: 20px 6px 10px;
  filter: brightness(60%);
}

@media screen and (max-width: 970px) {
  nav .menu-wrapper .menu-button-social {
    padding: 10px 0 0 14px;
  }
}
nav .menu-wrapper .menu-button-social:hover,
nav .menu-wrapper .menu-button:hover {
  cursor: pointer;
  filter: brightness(100%);
  color: #fff;
}
nav .menu-wrapper .print-button-wrapper {
  margin-top: 18px;
  margin-left: 5px;
  font-size: 15px !important;
  color: #515352;
}
nav .menu-wrapper .print-button-wrapper .print-button-bg {
  position: relative;
  display: inline-block;
  text-align: center;
  background-color: #515352;
  border-radius: 3px;
  width: 25px;
  height: 25px;
  color: #000;
}
nav .menu-wrapper .print-button-wrapper .print-button-bg .print-button {
  margin: 6px 0 0 1px;
}
nav .menu-wrapper .print-button-wrapper:hover {
  cursor: pointer;
}
nav .menu-wrapper .print-button-wrapper:hover .print-button-bg {
  background-color: #fff !important;
}
nav .menu-wrapper #print-loader {
  display: none;
  position: relative;
  width: 25px;
  height: 25px;
}
nav .menu-wrapper .dropdown {
  position: absolute;
  left: 0;
  padding: 10px 10px 20px;
}
nav .menu-wrapper .dropdown .dropdown-menu-button {
  margin-bottom: 10px;
  padding-top: 10px;
  display: inline-block;
  width: 200px;
  color: #b0b0b0;
  color: #b0b0b0;
  text-decoration: none;
}
nav .menu-wrapper .display-burger-menu .burger-menu-content-wrapper a:hover,
nav .menu-wrapper .dropdown .dropdown-menu-button:hover {
  color: #fff;
}
nav .menu-wrapper .dropdown .dropdown-menu-button:last-of-type {
  margin-bottom: 0;
}
nav .menu-wrapper .dropdown-support .dropdown {
  display: none;
  background-color: #000;
}
nav .menu-wrapper .dropdown-support:hover .dropdown {
  display: block;
}

