.u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 796px;
}

.u-section-1 .u-image-1 {
  width: 570px;
  height: 533px;
  margin: 30px auto 0 285px;
}

.u-section-1 .u-group-1 {
  width: 426px;
  min-height: 236px;
  height: auto;
  margin: -96px -46px 60px auto;
}

.u-section-1 .u-container-layout-1 {
  padding: 27px 30px;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  font-size: 1rem;
  margin: 0 0 0 71px;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  border-style: none none solid;
  font-weight: 700;
  margin: 30px 0 0 auto;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 719px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 703px;
  }

  .u-section-1 .u-image-1 {
    margin-left: 150px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 643px;
  }

  .u-section-1 .u-image-1 {
    width: 540px;
    height: 505px;
    margin-left: 0;
  }

  .u-section-1 .u-group-1 {
    margin-top: -68px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 547px;
  }

  .u-section-1 .u-image-1 {
    width: 340px;
    height: 318px;
  }

  .u-section-1 .u-group-1 {
    margin-top: 119px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-text-1 {
    font-size: 0.875rem;
    margin-left: 0;
  }
}.u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 120px;
}

.u-section-2 .u-text-1 {
  font-weight: 300;
  margin: 21px 0;
}.u-section-3 {
  background-image: none;
}

.u-section-3 .u-sheet-1 {
  min-height: 1854px;
}

.u-section-3 .u-text-1 {
  font-weight: 400;
  font-family: Montserrat;
  line-height: 2;
  margin: 56px 604px 0 0;
}

.u-section-3 .u-image-1 {
  width: 570px;
  height: 321px;
  margin: -428px 0 0 auto;
}

.u-section-3 .u-text-2 {
  font-weight: 400;
  font-family: Montserrat;
  line-height: 2;
  margin: 144px 0 0;
}

.u-section-3 .u-text-3 {
  font-weight: 400;
  font-family: Montserrat;
  font-size: 3rem;
  margin: 20px 0 0;
}

.u-section-3 .u-text-4 {
  font-weight: 400;
  font-family: Montserrat;
  font-size: 1.5rem;
  margin: 20px 0 0;
}

.u-section-3 .u-btn-1 {
  border-style: none;
  font-size: 1.875rem;
  margin: -43px auto 0 100px;
  padding: 0;
}

.u-section-3 .u-icon-1 {
  width: 30px;
  height: 41px;
}

.u-section-3 .u-btn-2 {
  border-style: none;
  font-size: 1.875rem;
  margin: -51px auto 0 141px;
  padding: 0;
}

.u-section-3 .u-icon-2 {
  margin-top: 6px;
}

.u-section-3 .u-text-5 {
  font-weight: 400;
  font-family: Montserrat;
  font-size: 3rem;
  margin: 30px 0 0;
}

.u-section-3 .u-image-2 {
  width: 262px;
  height: 262px;
  margin: 30px auto 0 0;
}

.u-section-3 .u-image-3 {
  width: 264px;
  height: 264px;
  margin: -254px auto 0 240px;
}

.u-section-3 .u-image-4 {
  width: 143px;
  height: 173px;
  margin: -210px 474px 0 auto;
}

.u-section-3 .u-text-6 {
  font-weight: 400;
  font-family: Montserrat;
  font-size: 3rem;
  margin: 47px 0 21px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1798px;
  }

  .u-section-3 .u-text-1 {
    margin-right: 404px;
  }

  .u-section-3 .u-btn-1 {
    margin-left: 0;
  }

  .u-section-3 .u-btn-2 {
    margin-left: 0;
  }

  .u-section-3 .u-image-4 {
    height: 174px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1736px;
  }

  .u-section-3 .u-text-1 {
    margin-right: 184px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1686px;
  }

  .u-section-3 .u-text-1 {
    margin-right: 4px;
  }

  .u-section-3 .u-image-1 {
    width: 540px;
    height: 304px;
  }

  .u-section-3 .u-image-4 {
    margin-right: 397px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1630px;
  }

  .u-section-3 .u-text-1 {
    margin-right: 0;
  }

  .u-section-3 .u-image-1 {
    width: 340px;
    height: 191px;
  }

  .u-section-3 .u-image-3 {
    margin-left: 76px;
  }

  .u-section-3 .u-image-4 {
    margin-right: 197px;
  }
}.u-section-4 {
  background-image: none;
}

.u-section-4 .u-sheet-1 {
  min-height: 916px;
}

.u-section-4 .u-gallery-1 {
  height: 796px;
  grid-gap: 17px 17px;
  grid-template-columns: repeat(3, auto);
  margin: 60px auto;
}

.u-section-4 .u-gallery-inner-1 {
  grid-template-columns: repeat(3, auto);
  grid-gap: 17px;
}

.u-section-4 .u-over-slide-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-4 .u-over-slide-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-4 .u-over-slide-3 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-4 .u-over-slide-4 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-4 .u-over-slide-5 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-4 .u-over-slide-6 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-4 .u-gallery-item-7 {
  box-shadow: 0 0 0 0 rgba(0,0,0,0);
}

.u-section-4 .u-back-slide-7 {
  background-position: 50% 50%;
}

.u-section-4 .u-back-image-7 {
  object-position: 50% 50%;
}

.u-section-4 .u-over-slide-7 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  transition-duration: 0.5s;
  padding: 20px;
}

.u-section-4 .u-gallery-item-8 {
  box-shadow: 0 0 0 0 rgba(0,0,0,0);
}

.u-section-4 .u-back-slide-8 {
  background-position: 50% 50%;
}

.u-section-4 .u-back-image-8 {
  object-position: 50% 50%;
}

.u-section-4 .u-over-slide-8 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  transition-duration: 0.5s;
  padding: 20px;
}

.u-section-4 .u-gallery-item-9 {
  box-shadow: 0 0 0 0 rgba(0,0,0,0);
}

.u-section-4 .u-over-slide-9 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  transition-duration: 0.5s;
  padding: 20px;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 637px;
  }

  .u-section-4 .u-gallery-1 {
    height: 656px;
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 1237px;
  }

  .u-section-4 .u-gallery-1 {
    height: 1257px;
    grid-template-columns: repeat(2, auto);
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-gallery-inner-1 {
    grid-template-columns: repeat(2, auto);
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 3374px;
  }

  .u-section-4 .u-gallery-1 {
    height: 3393px;
    grid-template-columns: repeat(1, auto);
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-gallery-inner-1 {
    grid-template-columns: repeat(1, auto);
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 2117px;
  }

  .u-section-4 .u-gallery-1 {
    height: 2137px;
    margin-right: initial;
    margin-left: initial;
  }
}.u-section-5 {
  background-image: none;
}

.u-section-5 .u-sheet-1 {
  min-height: 500px;
}

.u-section-5 .u-text-1 {
  margin-left: 0;
  margin-right: 0;
  font-weight: 400;
  font-family: Montserrat;
  margin-bottom: 0;
  font-size: 3rem;
}

.u-section-5 .u-text-2 {
  font-weight: 400;
  font-family: Montserrat;
  font-size: 1.875rem;
  margin: 20px 0 60px;
}.u-section-6 {
  background-image: none;
}

.u-section-6 .u-sheet-1 {
  min-height: 533px;
}

.u-section-6 .u-layout-wrap-1 {
  margin: 0 auto;
}

.u-section-6 .u-image-1 {
  min-height: 569px;
  background-image: url("images/IMG_20190927_170553_2.jpg");
  background-position: 53.73% 50%;
}

.u-section-6 .u-container-layout-1 {
  padding: 30px 0;
}

.u-section-6 .u-layout-cell-2 {
  min-height: 543px;
  background-image: none;
}

.u-section-6 .u-container-layout-2 {
  padding: 30px;
}

.u-section-6 .u-text-1 {
  margin: 0;
}

.u-section-6 .u-text-2 {
  margin: 20px 0 0;
}

@media (max-width: 1199px) {
  .u-section-6 {
    min-height: 504px;
  }

  .u-section-6 .u-sheet-1 {
    min-height: 504px;
  }

  .u-section-6 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-6 .u-image-1 {
    min-height: 469px;
  }

  .u-section-6 .u-layout-cell-2 {
    min-height: 448px;
  }
}

@media (max-width: 991px) {
  .u-section-6 {
    min-height: 370px;
  }

  .u-section-6 .u-sheet-1 {
    min-height: 370px;
  }

  .u-section-6 .u-image-1 {
    min-height: 359px;
  }

  .u-section-6 .u-layout-cell-2 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-6 {
    min-height: 959px;
  }

  .u-section-6 .u-sheet-1 {
    min-height: 959px;
  }

  .u-section-6 .u-image-1 {
    min-height: 621px;
  }

  .u-section-6 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-6 {
    min-height: 668px;
  }

  .u-section-6 .u-sheet-1 {
    min-height: 668px;
  }

  .u-section-6 .u-image-1 {
    min-height: 572px;
  }
}.u-section-7 {
  background-image: none;
}

.u-section-7 .u-sheet-1 {
  min-height: 126px;
}.u-section-8 {
  background-image: none;
}

.u-section-8 .u-sheet-1 {
  min-height: 473px;
}

.u-section-8 .u-image-1 {
  width: 1048px;
  height: 341px;
  object-position: 50% 0%;
  margin: 57px auto 60px;
}

@media (max-width: 1199px) {
  .u-section-8 .u-sheet-1 {
    min-height: 438px;
  }

  .u-section-8 .u-image-1 {
    width: 940px;
    height: 306px;
  }
}

@media (max-width: 991px) {
  .u-section-8 .u-sheet-1 {
    min-height: 366px;
  }

  .u-section-8 .u-image-1 {
    width: 720px;
    height: 234px;
  }
}

@media (max-width: 767px) {
  .u-section-8 .u-sheet-1 {
    min-height: 308px;
  }

  .u-section-8 .u-image-1 {
    width: 540px;
    height: 176px;
  }
}

@media (max-width: 575px) {
  .u-section-8 .u-sheet-1 {
    min-height: 243px;
  }

  .u-section-8 .u-image-1 {
    width: 340px;
    height: 111px;
  }
}.u-section-9 {
  background-image: none;
}

.u-section-9 .u-sheet-1 {
  min-height: 278px;
}

.u-section-9 .u-text-1 {
  font-family: Montserrat;
  font-size: 1.5rem;
  font-weight: 100;
  margin: 25px -24px 60px;
}

@media (max-width: 1199px) {
  .u-section-9 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }
}.u-section-10 {
  background-image: none;
}

.u-section-10 .u-sheet-1 {
  min-height: 693px;
}

.u-section-10 .u-video-1 {
  height: 636px;
  margin: 25px 0 32px;
}

@media (max-width: 1199px) {
  .u-section-10 .u-video-1 {
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 991px) {
  .u-section-10 .u-sheet-1 {
    min-height: 504px;
  }
}

@media (max-width: 767px) {
  .u-section-10 .u-sheet-1 {
    min-height: 5px;
  }
}

@media (max-width: 575px) {
  .u-section-10 .u-sheet-1 {
    min-height: 0;
  }
}.u-section-11 {
  background-image: none;
}

.u-section-11 .u-sheet-1 {
  min-height: 331px;
}

.u-section-11 .u-gallery-1 {
  height: 201px;
  grid-gap: 17px 17px;
  margin: 60px auto;
}

.u-section-11 .u-gallery-inner-1 {
  grid-template-columns: repeat(3, auto);
  grid-gap: 17px;
}

.u-section-11 .u-over-slide-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-11 .u-over-slide-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-11 .u-over-slide-3 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

@media (max-width: 1199px) {
  .u-section-11 .u-sheet-1 {
    min-height: 356px;
  }

  .u-section-11 .u-gallery-1 {
    height: 300px;
    grid-template-columns: repeat(3, auto);
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 991px) {
  .u-section-11 .u-sheet-1 {
    min-height: 746px;
  }

  .u-section-11 .u-gallery-1 {
    height: 690px;
    grid-template-columns: repeat(2, auto);
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-11 .u-gallery-inner-1 {
    grid-template-columns: repeat(2, auto);
  }
}

@media (max-width: 767px) {
  .u-section-11 .u-sheet-1 {
    min-height: 1608px;
  }

  .u-section-11 .u-gallery-1 {
    height: 1552px;
    grid-template-columns: repeat(1, auto);
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-11 .u-gallery-inner-1 {
    grid-template-columns: repeat(1, auto);
  }
}

@media (max-width: 575px) {
  .u-section-11 .u-sheet-1 {
    min-height: 1033px;
  }

  .u-section-11 .u-gallery-1 {
    height: 977px;
    margin-right: initial;
    margin-left: initial;
  }
}